<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.schedule.mitso">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:allowBackup="true"
            android:hardwareAccelerated="true"
            android:icon="@mipmap/ic_launcher"
            android:label="МИТСО"
            android:roundIcon="@mipmap/ic_launcher"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning"
    >

        <meta-data
                android:name="com.google.android.gms.ads.APPLICATION_ID"
                android:value="ca-app-pub-4272857293285960~2112230356"/>


        <activity
                android:name=".LoginActivity"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan">
        </activity>
        <activity
                android:name=".SplashScreen"
                android:screenOrientation="portrait"
                android:theme="@style/AppTheme.SplashScreen">
            <intent-filter>
                <action
                        android:name="android.intent.action.MAIN"
                        android:screenOrientation="portrait"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".PagesActivity"
                android:screenOrientation="portrait">
        </activity>
        <activity
                android:name=".MainActivity"
                android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>